{% extends "admin_layout.html" %}

{% block title %}
Trang admin
{% endblock %}

{% block sidebar %}
<a href="/admin/?account_id={{ account_id }}" class="d-block text-light p-3">
    <i class="bi bi-clipboard-data mr-2"></i>
    Dashboard</a>
<a href="/admin/profile/?account_id{{ account_id }}" class="d-block text-light p-3">
    <i class="bi bi-clipboard-data mr-2"></i>
    Profile</a>
<a href="#" class="d-block text-light p-3">
    <i class="bi bi-clipboard-data mr-2"></i>
    Quản lý tài khoản buyer</a>
<a href="#" class="d-block text-light p-3">
    <i class="bi bi-clipboard-data mr-2"></i>
    Quản lý tài khoản seller</a>
<a href="#" class="d-block text-light p-3">
    <i class="bi bi-clipboard-data mr-2"></i>
    Quản lý tài khoản đơn hàng</a>
<a href="/admin/foodtype/?account_id={{ account_id }}" class="d-block text-light p-3">
    <i class="bi bi-clipboard-data mr-2"></i>
    Quản lý loại thức ăn</a>
{% endblock %}

{% block nav_link %}
<li class="nav-item dropdown">
    <a class="nav-link" href="#">
        {{ username if username != None }}
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link" href="/logout">
        Đăng xuất
    </a>
</li>


{% endblock %}

{% block page_name %}
Loại thức ăn
{% endblock %}

{% block page_name_detail %}
Trang quản lý loại thức ăn
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card border-0">
            <div class="card-body px-0 py-2">
                <div class="row">
                    <div class="col-md-9">
                        <form>
                            {% for info in foodtype_info %}
                            <div class="form-group">
                                <label for="food_type_name">Tên loại thức ăn</label>
                                <input type="text" class="form-control" id="food_type_name" name="food_type_name"
                                    value="{{ info.food_type_name }}">
                            </div>

                            <button type="button" class="btn btn-warning btn-edit px-4">Sửa</button>

                            {% endfor %}
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        var url = window.location.href;
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var account_id = urlParams.get('account_id');
        var foodtype_id = urlParams.get('foodtype_id');
        console.log("URL: " + url);
        console.log("account_id: " + account_id);
        console.log("foodtype_id: " + foodtype_id);

        $(document).on('click', '.btn-edit', function () {
            var food_type_name = $('#food_type_name').val();
            console.log("Food type name: " + food_type_name);
            if (food_type_name == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Nhập thiếu...',
                    text: 'Hãy nhập tên loại thức ăn!'
                });
            }
            else {
                var data = {
                    "food_type_name": food_type_name
                };
                $.ajax({
                    url: "",
                    method: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.status == 0) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi',
                                text: ''+response.message
                            });
                        }
                        else {
                            Swal.fire({
                                title: '' + response.message,
                                icon: 'success',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Quay lại'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "/admin/foodtype/?account_id=" + response.account_id;
                                }
                            })
                        }
                    }
                });
            }
        })
    })
</script>
{% endblock %}