{% extends "admin_layout.html" %}

{% block title %}
Trang admin
{% endblock %}



{% block page_name %}
Seller
{% endblock %}

{% block page_name_detail %}
Trang quản lý danh sách người bán
{% endblock %}

{% block content %}
<div class="row py-3">
    <div class="col-md-12">

        <div class="card border-0">
            <div class="card-body px-0 py-2">
                <div id="data_content" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Họ tên</th>
                                <th>Email</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if sellers_info %}
                            {% for info in sellers_info %}
                            <tr>
                                <td>{{ info.seller_id }}</td>
                                <td>{{ info.seller_name }}</td>
                                <td>{{ info.seller_email }}</td>
                                {% if info.account_active_status == 1 %}
                                <td><span class="badge badge-success">Active</span></td>
                                {% else %}
                                <td><span class="badge badge-secondary">Inactive</span></td>
                                {% endif %}
                                <td>
                                    <button class="btn btn-info btn-view"
                                        data-seller-id="{{ info.seller_id }}">Xem</button>
                                    <button class="btn btn-danger btn-delete"
                                        data-seller-id="{{ info.seller_id }}">Xóa</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">Không có thông tin</td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example d-flex" class="mt-2">
                        <ul class="pagination justify-content-center">
                            {% if first_page == "" %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/sellers?page={{ previous_page }}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% if TOTAL_PAGE %}
                            {% for i in range(TOTAL_PAGE) %}
                            {% set num = i + 1 %}
                            {% if num == page %}
                            <li class="page-item active">
                                <a class="page-link" href="/admin/sellers?page={{num}}">{{num}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/sellers?page={{num}}">{{num}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% if last_page == "" %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/sellers?page={{ next_page }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block modal %}

<div class="modal fade" id="viewSellerModal" tabindex="-1" aria-labelledby="viewSellerModalLabel" aria-hidden="true"
    style="color: black;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSellerModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="info-detail">
                <!-- Thông tin chi tiết -->

            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        $(document).on('click', '.btn-view', function () {
            var seller_id = $(this).data("seller-id");

            $.ajax({
                url: "/admin/fetch-seller-info?seller_id=" + seller_id,
                method: "GET",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    var info = response.seller_info[0];
                    console.log(info);
                    var created_date = new Date(info.account_date_created);
                    var created_date_string = "" + created_date.getHours() + ":" + created_date.getMinutes() + ":" + created_date.getSeconds() + " " + created_date.getDate() + "/" + (created_date.getMonth() + 1) + "/" + created_date.getFullYear();
                    console.log(created_date_string);

                    var seller_birthday = new Date(info.seller_birthday);
                    var seller_birthday_string = "" + seller_birthday.getDate() + "/" + (seller_birthday.getMonth() + 1) + "/" + seller_birthday.getFullYear();
                    console.log(seller_birthday_string);

                    var content = `<div class="row mb-2">
                                <div class="col-md-12">
                                    <img src="{{ url_for('static', path='backend/seller/images/restaurant_avatar/') }}`+ info.restaurant_image + `"
                    class="mx-auto d-block shadow rounded" width="180px" height="180px">
                                </div>
                                </div>`;
                    content += `<div class="row">
                                <div class="col-md-12">
                                    <span class="text-primary">Thông tin tài khoản</span>
                                </div>
                                </div>`;

                    content += `<table class="table table-borderless">
                                <tbody>

                                    <tr>
                                    <td scope="row" style="width: 40%;">Tên tài khoản:</td>
                                    <td style="width: 60%;">
                                        `+ info.account_username + `
                                    </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 40%;">Ngày tạo tài khoản:</td>
                                    <td style="width: 60%;">
                                        `+ created_date_string + `
                                    </td>
                                    </tr>

                                </tbody>

                                </table>
                                `

                    content += `<div class="row">
                                <div class="col-md-12">
                                    <span class="text-primary">Thông tin cá nhân</span>
                                </div>
                                </div>`;

                    content += `<table class="table table-borderless">
                                <tbody>

                                    <tr>
                                    <td scope="row" style="width: 40%;">Họ tên: </td>
                                    <td style="width: 60%;">
                                        `+ info.seller_name + `
                                    </td>
                                    </tr>

                                    <tr>
                                    <td scope="row" style="width: 40%;">Ngày sinh: </td>
                                    <td style="width: 60%;">
                                        `+ seller_birthday_string + `
                                    </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 40%;">Địa chỉ: </td>
                                    <td style="width: 60%;">
                                        `+ info.seller_address + `
                                        </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 40%;">Số điện thoại: </td>
                                    <td style="width: 60%;">
                                        `+ info.seller_phone + `
                                        </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 40%;">Email: </td>
                                    <td>
                                        `+ info.seller_email + `
                                        </td>
                                    </tr>

                                </tbody>

                                </table>`;
                    content += `<div class="row">
                                <div class="col-md-12">
                                    <span class="text-primary">Thông tin nhà hàng</span>
                                </div>
                                </div>`;

                    content += `<table class="table table-borderless">
                                <tbody>

                                    <tr>
                                    <td scope="row" style="width: 40%;">Tên nhà hàng:</td>
                                    <td style="width: 60%;">
                                        `+ info.restaurant_name + `
                                    </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 40%;">Địa chỉ nhà hàng:</td>
                                    <td style="width: 60%;">
                                        `+ info.restaurant_address + `
                                    </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 40%;">Số món ăn hiện có:</td>
                                    <td style="width: 60%;">
                                        `+ info.TOTAL_FOOD + `
                                    </td>
                                    </tr>

                                </tbody>

                                </table>
                                `
                    $('#info-detail').html(content);
                    $('#viewSellerModal').modal("show");

                }
            });
        });


        $(document).on('click', '.btn-delete', function () {
            var seller_id = $(this).data("seller-id");
            console.log(seller_id);
            Swal.fire({
                title: 'Bạn chắc chứ?',
                text: "Hành động này sẽ xóa toàn bộ thông tin liên quan đến người bán này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Chắc chắn xóa',
                cancelButtonText: 'Đóng'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/admin/delete-seller?seller_id=" + seller_id,
                        method: "DELETE",
                        contentType: "application/json",
                        success: function (response) {
                            console.log("flag: " + response.flag);
                            console.log("seller account id: " + response.seller_account_id);
                            console.log("data: " + response.result); //4 phần tử
                            var flag = true;
                            var TH = response.flag; //TH1, TH2, TH3
                            var length = response.result.length;
                            var data = response.result;
                            if (TH == 1) {
                                //4 giá trị trong danh sách phải >0 => true
                                for (let i = 0; i < length; i++) {
                                    if (data[i] > 0) {
                                        flag = flag && true;
                                    }
                                    else {
                                        flag = flag && false;
                                    }
                                }
                            }

                            if (TH == 2) {
                                //giá trị đầu == 0, 3 giá trị còn lại >0 => true
                                for (let i = 0; i < length; i++) {
                                    if (i == 0) {
                                        if (data[i] == 0) {
                                            flag = flag && true;
                                        }
                                        else {
                                            flag = flag && false;
                                        }
                                    }
                                    else {
                                        if (data[i] > 0) {
                                            flag = flag && true;
                                        }
                                        else {
                                            flag = flag && false;
                                        }
                                    }
                                }
                            }

                            if (TH = 3) {
                                //2 giá trị đầu == 0, 2 giá trị còn lại >0 => true
                                for (let i = 0; i < length; i++) {
                                    if (i  <= 1) {
                                        if (data[i] == 0) {
                                            flag = flag && true;
                                        }
                                        else {
                                            flag = flag && false;
                                        }
                                    }
                                    else {
                                        if (data[i] > 0) {
                                            flag = flag && true;
                                        }
                                        else {
                                            flag = flag && false;
                                        }
                                    }
                                }
                            }


                            //Chưa check result => thông báo xóa không công không ổn
                            if (flag == false) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: 'Xóa không thành công'
                                });
                            }
                            else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Xóa thành công',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $(function () {
                                    function reload_page() {
                                        location.href = "/admin/sellers";
                                    }
                                    window.setTimeout(reload_page, 1500);
                                });
                            }
                        }
                    });
                }
            })
        })
    });
</script>
{% endblock %}