{% extends "admin_layout.html" %}

{% block title %}
    Trang admin
{% endblock %}

{% block sidebar %}
    <a href="/admin/?account_id={{ account_id }}" class="d-block text-light p-3">
        <i class="bi bi-clipboard-data mr-2"></i>
        Dashboard</a>
    <a href="/admin/profile/?account_id={{ account_id }}" class="d-block text-light p-3">
        <i class="bi bi-clipboard-data mr-2"></i>
        Profile</a>
    <a href="/admin/admin_info/?account_id={{ account_id }}" class="d-block text-light p-3">
            <i class="bi bi-clipboard-data mr-2"></i>
            Quản lý tài khoản admin</a>
    <a href="/admin/buyer_info/?account_id={{ account_id }}" class="d-block text-light p-3">
        <i class="bi bi-clipboard-data mr-2"></i>
        Quản lý tài khoản buyer</a>
    <a href="/admin/seller_info/?account_id={{ account_id }}" class="d-block text-light p-3">
        <i class="bi bi-clipboard-data mr-2"></i>
        Quản lý tài khoản seller</a>
    <a href="#" class="d-block text-light p-3">
        <i class="bi bi-clipboard-data mr-2"></i>
        Quản lý tài khoản đơn hàng</a>
    <a href="/admin/foodtype/?account_id={{ account_id }}" class="d-block text-light p-3">
        <i class="bi bi-clipboard-data mr-2"></i>
        Quản lý loại thức ăn</a>
{% endblock %}

{% block nav_link %}
    <li class="nav-item dropdown">
        <a class="nav-link" href="#">
            {{ username if username != None }}
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="/logout">
            Đăng xuất
        </a>
    </li>
    

{% endblock %}

{% block page_name %}
    Profile
{% endblock %}

{% block page_name_detail %}
    Trang thông tin cá nhân
{% endblock %}

{% block content %}
    <h1>Trang chủ</h1>
    {% for info in admin_info %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-borderless mt-2">
                <tbody>
                    <tr>
                        <th>Họ tên: </th>
                        <td>{{ info.admin_name }}</td>
                    </tr>
                    <tr>
                        <th>Ngày sinh: </th>
                        {% set birthday = info.admin_birthday %}
                        <td>{{ birthday.strftime("%d/%m/%Y") }}</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ: </th>
                        <td>{{ info.admin_address }}</td>
                    </tr>
                    <tr>
                        <th>Số điện thoại: </th>
                        <td>{{ info.admin_phone }}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>{{ info.admin_email }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/admin/edit_profile?account_id={{ account_id }}" class="btn btn-primary"> Sửa thông tin </a>
                            <a href="/admin/edit_account?account_id={{ account_id }}" class="btn btn-primary"> Sửa tài khoản </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    {% endfor %}
{% endblock %}
