{% extends "admin_layout.html" %}

{% block title %}
Trang admin
{% endblock %}



{% block page_name %}
Buyer
{% endblock %}

{% block page_name_detail %}
Trang quản lý danh sách người mua
{% endblock %}

{% block content %}
<div class="row py-3">
    <div class="col-md-12">

        <div class="card border-0">
            <div class="card-body px-0 py-2">
                <div id="data_content" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Họ tên</th>
                                <th>Email</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if buyers_info %}
                            {% for info in buyers_info %}
                            <tr>
                                <td>{{ info.buyer_id }}</td>
                                <td>{{ info.buyer_name }}</td>
                                <td>{{ info.buyer_email }}</td>
                                <td>
                                    <button class="btn btn-info btn-view"
                                        data-buyer-id="{{ info.buyer_id }}">Xem</button>
                                    <button class="btn btn-danger btn-delete"
                                        data-buyer-id="{{ info.buyer_id }}">Xóa</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">Không có thông tin</td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example d-flex" class="mt-2">
                        <ul class="pagination justify-content-center">
                            {% if first_page == "" %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/buyers?page={{ previous_page }}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}

                            {% if TOTAL_PAGE %}
                            {% for i in range(TOTAL_PAGE) %}
                            {% set num = i + 1 %}
                            {% if num == page %}
                            <li class="page-item active">
                                <a class="page-link" href="/admin/buyers?page={{num}}">{{num}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/buyers?page={{num}}">{{num}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                            {% if last_page == "" %}
                            <li class="page-item">
                                <a class="page-link" href="/admin/buyers?page={{ next_page }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block modal %}

<div class="modal fade" id="viewBuyerModal" tabindex="-1" aria-labelledby="viewBuyerModalLabel" aria-hidden="true"
    style="color: black;">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewBuyerModalLabel">Thông tin chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="info-detail">
                <!-- Thông tin chi tiết -->

            </div>
            <div class=" modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {

        $(document).on('click', '.btn-view', function () {
            var buyer_id = $(this).data("buyer-id");

            $.ajax({
                url: "/admin/fetch-buyer-info?buyer_id=" + buyer_id,
                method: "GET",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    var info = response.buyer_info[0];
                    console.log(info);
                    var created_date = new Date(info.account_date_created);
                    var created_date_string = "" + created_date.getHours() + ":" + created_date.getMinutes() + ":" + created_date.getSeconds() + " " + created_date.getDate() + "/" + (created_date.getMonth() + 1) + "/" + created_date.getFullYear();
                    console.log(created_date_string);

                    var buyer_birthday = new Date(info.buyer_birthday);
                    var buyer_birthday_string = "" + buyer_birthday.getDate() + "/" + (buyer_birthday.getMonth() + 1) + "/" + buyer_birthday.getFullYear();
                    console.log(buyer_birthday_string);

                    var content = `<div class="row">
                                <div class="col-md-12">
                                    <span class="text-primary">Thông tin tài khoản</span>
                                </div>
                                </div>`;

                    content += `<table class="table table-borderless">
                                <tbody>

                                    <tr>
                                    <td scope="row" style="width: 50%;">Tên tài khoản:</td>
                                    <td style="width: 50%;">
                                        `+ info.account_username + `
                                    </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 50%;">Ngày tạo tài khoản:</td>
                                    <td style="width: 50%;">
                                        `+ created_date_string + `
                                    </td>
                                    </tr>

                                </tbody>

                                </table>
                                `

                    content += `<div class="row">
                                <div class="col-md-12">
                                    <span class="text-primary">Thông tin cá nhân</span>
                                </div>
                                </div>`;

                    content += `<table class="table table-borderless">
                                <tbody>

                                    <tr>
                                    <td scope="row" style="width: 50%;">Họ tên: </td>
                                    <td style="width: 50%;">
                                        `+ info.buyer_name + `
                                    </td>
                                    </tr>

                                    <tr>
                                    <td scope="row" style="width: 50%;">Ngày sinh: </td>
                                    <td style="width: 50%;">
                                        `+ buyer_birthday_string + `
                                    </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width= 40%;">Địa chỉ: </td>
                                    <td style="width: 50%;">
                                        `+ info.buyer_address + `
                                        </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 50%;">Số điện thoại: </td>
                                    <td style="width: 50%;">
                                        `+ info.buyer_phone + `
                                        </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 50%;">Email: </td>
                                    <td style="width: 50%;">
                                        `+ info.buyer_email + `
                                        </td>
                                    </tr>
                                    <tr>
                                    <td scope="row" style="width: 50%;">Địa chỉ giao hàng: </td>
                                    <td style="width: 50%;">
                                        ` + info.buyer_shipping_address + `
                                    </td>
                                    </tr>

                                </tbody>

                                </table>`;
                    $('#info-detail').html(content);
                    $('#viewBuyerModal').modal("show");

                }
            });
        });

        $(document).on('click', '.btn-delete', function () {
            var buyer_id = $(this).data("buyer-id");
            console.log("buyer id: " + buyer_id);

            Swal.fire({
                title: 'Bạn chắc chứ?',
                text: "Hành động này sẽ xóa toàn bộ thông tin liên quan đến người dùng này!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Chắc chắn xóa!',
                cancelButtonText: 'Đóng',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/admin/delete-buyer?buyer_id="+buyer_id,
                        method: "DELETE",
                        contentType: "application/json",
                        success: function(response){
                            if(response.status == 0){
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi',
                                    text: ''+response.message
                                });
                            }
                            else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: ''+response.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $(function () {
                                    function reload_page() {
                                        location.href = "/admin/buyers";
                                    }
                                    window.setTimeout(reload_page, 1500);
                                });
                            }
                        }
                    })
                }
            })
        })
    });
</script>
{% endblock %}