{% extends "buyer_layout.html" %}

{% block title %}
    Food Delivery
{% end block title %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{{ url_for('static', path='frontend/css/buyer_index.css') }}">

{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Trang Chủ</a>
</li>
<li class="nav-item" style="padding-left: 30px;">
    <a class="nav-link" aria-current="page" href="#">Đồ Ăn</a>
</li>
<li class="nav-item" style="padding-left: 30px;">
    <a class="nav-link" aria-current="page" href="#">Đồ Uống</a>
</li>
<li class="nav-item" style="padding-left: 30px;">
    <a class="nav-link bi bi-cart-fill" aria-current="page" href="#"> Giỏ Hàng</a>
</li>

<form class="d-flex" style="padding-left: 30px;">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 300px;">
    <button class="btn btn-outline-warning bi bi-search" type="submit"></button>
</form>
<li class="nav-item dropdown" style="padding-left: 30px;">
    <a class="nav-link dropdown-toggle bi bi-person-circle" href="#" id="navbarDropdownMenuLink" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        {{ username }}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="/buyer/profile/?account_id={{ account_id }}">Profile</a></li>
        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
    </ul>
</li>
{% endblock %}
{% block banner %}
<div class="swiper mySwiper" style="padding-top: 10px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider1.jpg') }}" alt="slider1"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider2.jpg') }}" alt="slider2"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider3.jpg') }}" alt="slider3"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider4.jpg') }}" alt="slider4"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider5.jpg') }}" alt="slider5"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider6.jpg') }}" alt="slider6"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider7.jpg') }}" alt="slider7"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider8.jpg') }}" alt="slider8"></div>
        <div class="swiper-slide"><img class="avatar"
                src="{{ url_for('static', path='frontend/images/background/slider9.jpg') }}" alt="slider9"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>

</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
{% endblock %}

{% block content %}
<div class="food-box" style="width:1000px;margin-left: 200px;">
    <div class="food_header">
        <p class="navbar-brand"
            style="font-family:'Raleway', sans-serif;font-size: 25px;text-align: center; color: orange;">
            Hôm Nay Ăn Gì?
        </p>
    </div>
    <div class="listitems">
        <div class="row">

            <div class="card" style="width: 18rem;">
                <img src="../../../static/image/food1.png" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Restaurant Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.</p>
                    <a href="#" class="border border-warning">Thêm Món</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../../static/image/food2.png" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.</p>
                    <a href="#" class="border border-warning">Thêm Món</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../../static/image/food3.png" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.</p>
                    <a href="#" class="border border-warning">Thêm Món</a>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="card" style="width: 18rem;">
                <img src="../../../static/image/food4.png" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.</p>
                    <a href="#" class="border border-warning">Thêm Món</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../../static/image/food5.png" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.</p>
                    <a href="#" class="border border-warning">Thêm Món</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="../../../static/image/food6.png" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's content.</p>
                    <a href="#" class="border border-warning">Thêm Món</a>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="food_header">
        <p class="navbar-brand"
            style="font-family: 'Raleway', sans-serif;font-size: 25px;text-align: center;color: orange;">
            Hôm Nay Uống Gì?
        </p>
        <div class="listitems">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/image/drink1.png" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the
                            card's content.</p>
                        <a href="#" class="border border-warning">Thêm Món</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/image/drink2.png" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the
                            card's content.</p>
                        <a href="#" class="border border-warning">Thêm Món</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/image/drink3.png" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the
                            card's content.</p>
                        <a href="#" class="border border-warning">Thêm Món</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/image/drink4.png" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the
                            card's content.</p>
                        <a href="#" class="border border-warning">Thêm Món</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/image/drink5.png" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the
                            card's content.</p>
                        <a href="#" class="border border-warning">Thêm Món</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/image/drink6.png" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the bulk of the
                            card's content.</p>
                        <a href="#" class="border border-warning">Thêm Món</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}