{% extends "buyer_layout.html" %}

{% block title %}
Food Delivery
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{{ url_for('static', path='frontend/css/buyer_restaurant_index.css') }}">



{% endblock %}


{% block hero %}
<div class="restaurant-info py-5" style="background: #fff; border-radius: 5px;">
    <div class="container">
              <div class="row px-4">
            {% if restaurant_info %}
            {% for info in restaurant_info %}
            <div class="col-md-5">

                <img src="{{ url_for('static', path='backend/seller/images/restaurant_avatar/') }}{{ info.restaurant_image }}"
                    alt="Hình nhà hàng: {{ info.restaurant_image }}" class="img-fluid rounded mx-auto d-block" style="height: 250px;width: 400px;">

            </div>
            <div class="col-md-5">
                <div>
                    <br>
                    <br>
                   
                    <h3 style="color: orange;font-size: 40px;"> <b>{{ info.restaurant_name }}</b> </h3>
                    <p>Địa Chỉ : {{ info.restaurant_address }}</p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="menu" style="background: #f7ede2;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 px-0">
                <div style="background: #fff;border-radius: 5px;" class="mx-2">
                    <h5 style="text-align: center;">Thực Đơn</h5>
                    <!-- danh sach loai thuc an cua nha hang -->
                    <ul style="list-style-type: none;">
                        {% if food_type_info %}
                        {% for food_type in food_type_info %}
                        <li>{{ food_type.food_type_name }}</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9 px-0" style="background: #fff; border-radius: 5px;">
                <div class="py-4 border-bottom">

                    <div class="search mx-2" style="text-align: center;">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-10 mb-2">
                                <input style="width:100%; height:40px;border-radius:5px;font-size:15px"
                                    class="border border-warning" type="search" placeholder="Nhập Tên Món.."
                                    aria-label="Search">
                            </div>
                            <div class="col-12 col-sm-12 col-md-2 mb-2">
                                <button class="btn btn-outline-warning " type="submit">Tìm Món</button>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="food-list">

                    <div class="row py-2">
                        {% if food_info %}
                        {% for info in food_info %}
                        <div class="col-12 col-md-4 col-lg-4 mb-3">
                            <div class="card h-100 pt-0">
                                <img src="{{ url_for('static', path='backend/seller/images/food/') }}{{ info.food_image }}"
                                    class="card-img-top card-image" alt="Hình món ăn: {{ info.food_image }}"
                                    width="200px" height="150px">
                                {% if info.food_quantity == 0 %}
                                <div class="text-center out-of-stock-text p-2">Hết hàng</div>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ info.food_name }}</h5>
                                    <p class="card-text">Mô tả món ăn: {{ info.food_description }}</p>
                                    <p>Số lượng còn: {{ info.food_quantity }}</p>
                                    <p>Giá : {{ info.food_price}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    {% if info.food_quantity == 0 %}
                                    <button type="button" class="button out-of-stock"
                                        data-restaurant-id="info.restaurant_id">Hết hàng</button>
                                    {% else %}
                                    <button type="button" class="button btn-add-to-card" style="border: none;"
                                        data-restaurant-id="info.restaurant_id">Đặt Món</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {

        $(document).on('click', '.btn-add-to-card', function () {
            var flag;

            //Kiểm tra người dùng đã đăng nhập chưa? => not good this way
            $.ajax({
                url: "/check-login",
                method: "GET",
                contentType: "application/json",
                success: function (response) {
                    if (response.status == 0) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi',
                            text: '' + response.message
                        });
                        flag = false;
                        console.log("Flag inside: " + flag);
                    }
                    else {
                        alert("Bạn đã đăng nhập. :>");
                    }
                }
            })

        })
    })
</script>

{% endblock %}
